/* src/index.css */

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  /* Garante que a página ocupe tudo */
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden; /* Evita barra de rolagem horizontal */
  background-color: #121212;
}

/* O VILÃO GERALMENTE É ESSE CARA AQUI (#root) */
#root {
  width: 100%;
  max-width: none !important; /* Remove limite de largura */
  margin: 0 !important;
  padding: 0 !important;
  text-align: left; /* Alguns templates centralizam o texto */
}
@media (min-width: 1024px) {
  .sidebar-desktop {
    display: flex !important;
  }
}